@model GStore2.ViewModels.ProdutoVM
@{
    ViewData["Title"] = "Detalhes do Produto";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="img-fluid mb-5 mb-md-0"
                    src="@Model.Produto.Fotos[0].ArquivoFoto" alt="@Model.Produto.Nome" /></div>
            <div class="col-md-6">
                <div class="small mb-1">Categoria: @Model.Produto.Categoria.Nome</div>
                <h1 class="display-5 fw-bolder">@Model.Produto.Nome</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">
                       R$ @((Model.Produto.ValorVenda * 1.10M).ToString("N2"))
                    </span>
                    <span>R$ @Model.Produto.ValorVenda.ToString("N2")</span>
                </div>
                <p class="lead">@Model.Produto.Descricao</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                       Adicionar ao Carrinho
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Produtos Semelhantes</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
           @foreach(Produto produto in Model.Produtos)
           {
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="@(produto.Fotos.Count == 0 ? "https://dummyimage.com/450x300/dee2e6/6c757d.jpg": Model.Produto.Fotos[0].ArquivoFoto)" alt= "@produto.Nome" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@produto.Nome</h5>
                            <!-- Product price-->
                           @produto.ValorVenda.ToString("N2")
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <a class="btn btn-outline-dark mt-auto" 
                              asp-controller="Home" asp-action="Produto" asp-route-id="@produto.Id">
                               Detalhes</a>
                    </div>
                </div>
            </div>
           }
        </div>
    </div>
</section>
